
*.obj
*.tlog
*.log
UpgradeLog.htm
*.ipch
*.db
*.opendb
*.idb
*.pdb
*.iobj
*.ipdb
*.filters
.vs/SIwithET/v15/.suo
.vs/SIwithET/v15/Solution.VC.db-shm
.vs/SIwithET/v15/Solution.VC.db-wal
*.vcxproj
*.vcxproj
x64/Release/test.exe
x64/Debug/test.exe
x64/Debug/test.ilk
*.asm
*.xml
x64/Release/test.exe.gta.testdurations
x64/Release/test.exe.lastcodeanalysissucceeded
test/test.vcxproj
test/test.vcxproj
test/test.vcxproj.user
test/test.vcxproj
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/SIwithET_git/v15/.suo
.vs/VSWorkspaceState.json
*.db-shm
*.db-wal
.vs/SIwithET/v16/.suo
SIwithET/SIwithET.vcxproj.user
SIwithET/x64/Release/SIwithET.exe.recipe
SIwithET/x64/Release/SIwithET.vcxproj.FileListAbsolute.txt
test/x64/Release/test.exe.recipe
test/x64/Release/test.vcxproj.FileListAbsolute.txt
UpgradeLog2.htm
*.i
SIwithET/x64/Debug/SIwithET.exe.recipe
test/x64/Debug/test.vcxproj.FileListAbsolute.txt
