
*.obj
*.tlog
*.log
UpgradeLog.htm
*.ipch
*.db
*.opendb
*.idb
*.pdb
*.iobj
*.ipdb
*.filters
.vs/SIwithET/v15/.suo
.vs/SIwithET/v15/Solution.VC.db-shm
.vs/SIwithET/v15/Solution.VC.db-wal
*.vcxproj
*.vcxproj
x64/Release/test.exe
